:root {
  --color-accent: #8ee6d0;
  --color-heading: #60508a;
}

/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
}

h2 {
  font-size: 4rem;
  line-height: 0;
}

/* Input */
.input {
  display: block;
  margin: 2rem;
}

.input-text {
  background: #f4f8f7;
  border: 0;
  border-radius: 12px;
  outline: 0;
  height: 5rem;
  width: 33rem;
  padding-left: 13px;
}

.login-input{
  margin: 2rem 4rem;
}

/* Button */
.button {
  outline: 0;
  border: 0;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin: 1rem 0;
  cursor: pointer;
  padding: 1.5rem 4vw;
  transition: opacity 0.15s;
}

.button-accent {
  background: var(--color-accent);
  color: white;
  transition: all 0.15s;
}

.button-accent:hover {
  background: var(--color-heading);
}

.button-outline {
  background: none;
  border: 1px solid var(--color-heading);
  color: var(--color-heading);
  transition: all 0.15s;
}

.button-outline:hover {
  font-weight: 600;
  transform: scale3d(20%);
}

/* Container */
.container {
  height: 50rem;
  width: 80rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* Grid */
.grid {
  display: grid;
}

.grid-1X2 {
  grid-template-columns: 40% 60%;
}

.grid-left img{
  height: 50rem;
  max-width: 100%;
  opacity: 0.8;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.grid-left .button-outline {
  position: absolute;
  top: 30rem;
  left: 6rem;
}

.grid-right .button-accent {
  position: absolute;
  right: 15rem;
}

.login-content {
  color: var(--color-heading);
    font-weight: 600;
    position: relative;
    bottom: 34rem;
    text-align: center;
}

.signup-header {
  color: var(--color-heading);
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin: 6rem 5rem;
  padding: 1rem;
}

.signup-content {
  color: grey;
  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
  margin: 0;
}