<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sanctuary Record</title>
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/landingPage.css" />
  </head>
  <body>
    <nav class="nav">
        <a href="/" class="button button-outline">Logout</a>
    </nav>
    <div class="block block-dark block-skewed-right">
      <div class="grid grid-1X2">
        <div class="grid-left">
          <h1 class="block-heading">Sanctuary Record</h1>
          <p class="block-content">A Record System of Wildlife</p>
        </div>
        <div class="grid-right">
          <img src="/static/images/landingPage_Image.png" alt="" />
        </div>
      </div>
    </div>
    <div class="link-records-header">
      <h2>Records</h2>
    </div>
    <div class="link-records">
      <div class="container animal-bg">
        <a class="link-arrow" href="/animalRecord"
          >animal record</a
        >
      </div>
      <div class="container bird-bg">
        <a class="link-arrow " href="/birdRecord"
          >bird record</a
        >
      </div>
      <div class="container visitor-bg">
        <a class="link-arrow " href="/visitorRecord"
          >visitor record</a
        >
      </div>
      <div class="container staff-bg">
        <a class="link-arrow" href="/staffRecord"
          >staff record</a
        >
      </div>
      </div>
    </div>
  </body>
</html>
