<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
      <div class="container">
        <div class="grid grid-1X2">
            <div class="grid-left">
              <h2 class="login-header">Log-in</h2>
              {% if error %}
                <p class="error">{{ error }} </p>
              {% endif %}
              <p class="login-content">Or use your username:</p>
              <form action="/homePage", method="POST">
                <div class="login-input">
                <input
                  class="input input-text"
                  name="username"
                  type="text"
                  placeholder="Username"
                />
                <input
                  class="input input-text"
                  name="password"
                  type="password"
                  placeholder="Passowrd"
                />
              </div>
                <button class = 'button button-accent' type= "submit">Log-in</button>
              </div>
            </form>
          <div class="grid-right">
            <img src="/static/images/blue-background.jpg" alt="" />
            <div class="signup-content">
              <h2>Hello, Friend!</h2>
              <p>Enter your personal details to start your journey here</p>
            </div>
            <form action="/signup">
              <button class="button button-outline" type="submit">
                Sign-up
              </button>
            </form>
          </div>
        </div>
      </div>
  </body>
</html>